<% layout('main') -%>

<div class="main" id="home">

  <section id="caroussel">

    <nav>
      <ul>
        <% _.each(_.values(categories), function(category) { %>
          <li><a><%= category %></a></li>
        <% }); %>
      </ul>
    </nav>

    <div class="products">

      <% _.each(_.keys(categories), function(category) { %>
        <ul>
          <% _.chain(products.results).filter(function(p) { return _(p.tags).contains(category); }).filter(function(p) { return !_(p.tags).contains("Featured"); }).take(5).map(function(product) { %>
            <li data-category="<%= category %>">
              <a href="<%= ctx.linkResolver(ctx, product) %>">
                <img src="<%= product.getImageView('product.image', 'icon').url %>">
                <span><%= product.getText('product.name') %></span>
              </a>
            </li>
          <% }).value(); %>
        </ul>
      <% }); %>

    </div>

    <p>
      <a href="/products<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">Hojear todas las prácticas</a>
    </p>

  </section>

  <section>  
        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://vivirdespiertos.us8.list-manage.com/subscribe/post?u=c85127e31cc744aba773b0e51&amp;id=336a0027eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Subscribirse a la lista de boletínes sobre la Gira Vivir Despiertos en América Latina</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c85127e31cc744aba773b0e51_336a0027eb" value=""></div>
  <div class="clear"><input type="submit" value="Subscribirse" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
  </section>

  <section id="featured">

    <% _.chain(featured.results).filter(function(p) { return p.type != 'blog-post'; }).take(3).map(function(doc) { %>

      <% if(doc.type == 'product') { %> 
        <div style="background-image: url(<%= doc.getImageView('product.gallery', 'squared').url %>)">
          <a href="<%= ctx.linkResolver(ctx, doc) %>">
            <h3><span><%= doc.getText('product.name') %></span></h3>
            <p>
              <span><%= doc.getText('product.short_lede') %></span>
            </p>
          </a>
        </div>
      <% } %>

      <% if(doc.type == 'selection') { %> 
        <div style="background-image: url(<%= doc.getImageView('selection.catcher_image', 'squarred').url %>)">
          <a href="<%= ctx.linkResolver(ctx, doc) %>">
            <h3><span><%= doc.getText('selection.name') %></span></h3>
            <p>
              <span><%= doc.getText('selection.short_lede') %></span>
            </p>
          </a>
        </div>
      <% } %>

    <% }).value(); %>

  </section>

  <section id="donation"> 

    <h2>¡Ayúdanos a realizar el sueño de <a href="stores">la Gira Vivir Despiertos en América Latina</a> este otoño 2014!</h2>    
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="9LUSMA8DJYNJ6">
        <input type="hidden" name="lc" value="es">
        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
  </section>

  <% _.chain(featured.results).filter(function(p) { return p.type == 'blog-post'; }).take(1).map(function(post) { %>
    
    <section id="blog">

      <h2>Noticias frescas desde <a href="/blog<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>">nuestro blog</a></h2>

      <a href="<%= ctx.linkResolver(ctx, post) %>">
        <h1><%= post.getStructuredText('blog-post.body').getTitle().text %></h1>
        <p><%= post.getStructuredText('blog-post.body').getFirstParagraph().text %></p>
      </a>

      <a class="more" href="<%= ctx.linkResolver(ctx, post) %>">Read more</a>

    </section>

  <% }).value(); %>
  
</div>
