<% layout('main') -%>

<div class="main" id="jobs">

  <section id="page-header">

    <div style="background-image: url(<%= page.getImageView('article.image', 'main').url %>)">
      <div>
        <h1><%= page.getText('article.title') %></h1>

        <%- page.getHtml('article.short_lede', ctx) %>
      </div>
    </div>

  </section>

  <section id="page-body">
    
    <div class="presentation">
      <%- page.getHtml('article.content', ctx) %>
    </div>

    <% var services = {
      "Entrenamientos": "Entrenamientos",
      "Relaciones": "Como tener relaciones compasivas",
      "Inspiración": "Inspiración para el camino",
      "undefined": "Otros textos"
    }; %>

    <% _.chain(jobs.results).groupBy(function(j) { return j.getText('job-offer.service'); }).pairs().map(function(serviceWithJobs) { %> 

      <h2><%= services[serviceWithJobs[0]] %></h2>

      <div class="listing">
        <% _(serviceWithJobs[1]).map(function(job) { %> 

          <div class="job">
            <a href="<%= ctx.linkResolver(ctx, job) %>">
              <h3><%= job.getText("job-offer.name") %></h3>
              <p>
                <%= job.getStructuredText("job-offer.profile").getFirstParagraph().text %>
              </p>
              <strong>Learn more</strong>
            </a>
          </div>

        <% }); %>
      </div>

    <% }); %>

  </section>

</div>