<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>vivir despiertos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/stylesheets/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/toolbar.css">

  </head>
  <body>

    <%- partial('toolbar') %>

    <header>
      <nav>
        <h1><a href="/<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>"><img src="http://www.vivirdespiertos.org/images/vivir-despiertos-black.png" alt="Vivir Despiertos"></a></h1>

        <ul>
          <li><a href="/about<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>" <%= typeof menu != 'undefined' && menu == 'about' ? 'class=selected' : '' %>>Maestro</a></li>
          <li><a href="/stores<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>" <%= typeof menu != 'undefined' && menu == 'stores' ? 'class=selected' : '' %>>Gira 2014</a></li>
        </ul>
        <ul>
          <li><a href="/jobs<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>" <%= typeof menu != 'undefined' && menu == 'jobs' ? 'class=selected' : '' %>>Prácticas</a></li>
          <li><a href="/blog<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>" target="_self">Blog/Novedades</a></li>
        </ul>

        <a href="/search<%= ctx.maybeRef ? '?ref=' + ctx.maybeRef : '' %>"><span>Busquéda</span></a>

      </nav>
    </header>

    <%- body -%>

    <footer>
      Portal en español de <a href="http://prismic.io">plumvillage.org</a> 

      <% if(!ctx.oauth().hasPrivilegedAccess) { %>
        – Por favor <a href="/signin">registrarse</a> para previsualizar tus cambios.
      <% } %>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.10.1.min.js><\/script>')</script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script src="/javascripts/modernizr-2.6.2.min.js"></script>
    <script src="/javascripts/catslider.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
