<% layout('main') -%>

<div class="main" id="stores">

  <section id="page-header">

    <div style="background-image: url(<%= page.getImageView('article.image', 'main').url %>)">
      <div>
        <h1><%= page.getText('article.title') %></h1>

        <%- page.getHtml('article.short_lede', ctx) %>
      </div>
    </div>

  </section>
  
  <section id="donation"> 

    <h2>¡Ayúdanos realizar el sueño de <a href="stores">la gira en América Latina</a> este otoño 2014!</h2>    
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="9LUSMA8DJYNJ6">
        <input type="hidden" name="lc" value="es">
        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

  </section>
  
  <section id="page-body">
    <%- page.getHtml('article.content', ctx) %>

    <% _.chain(stores.results).sortBy(function(s) { return s.getText('store.name'); }).map(function(store) { %> 

      <article class="store" style="background-image: url(<%= store.getImageView('store.image', 'medium').url %>)">
        <a href="<%= ctx.linkResolver(ctx, store) %>">
          <h3><%= store.getText('store.name') %></h3>
        </a>
      </article>

    <% }).value(); %>

  </section>

</div>